<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Angular training</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.6.7.min.js"></script>
        <!-- injector:js -->
        <!-- endinjector -->
        <!-- injector:css -->
        <!-- endinjector -->
    </head>
    <body>
        <div ng-app="app" class="container">
            <div class="calculator row" ng-controller="CalcController as vm">
                <div class="jumbotron">
                    <h1>Calculator App</h1>
                    <p>Built with AngularJS</p>
                </div>
                <calculator-component class="col-md-4 col-md-offset-1" results="vm.results"></calculator-component>
                <div class="calc-results col-md-4 col-md-offset-2 text-center">
                    <table class="table table-bordered ">
                        <tr>
                            <th class="text-center">Calculation results</th>
                        </tr>
                        <tr ng-repeat="result in vm.results track by $index">
                            <td>{{ result }}</td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-danger" ng-click="vm.removeResults()" ng-show="vm.results.length">Remove results</button>
                </div>
            </div>
        </div>
    </body>
</html>