calculator-component .btn {
    border-radius: inherit;
    font-size: 36px;
}
.calc-display {
    background-color: #000;
    color: #fff;
    font-size: 56px;
    height: 80px;
    padding-left: 10px;
}