<div class="calc-display">
    <span>{{ vm.display }}</span>
</div>
<div>
    <button class="btn btn-danger col-md-4" ng-click="vm.reset()">C</button>
    <button class="{{ operBtn.class }}" ng-repeat="operBtn in vm.operBtns" ng-click="vm.setOper(operBtn.oper)">{{ operBtn.symbol || operBtn.oper }}</button>
    <button class="{{ numBtn.class }}" ng-repeat="numBtn in vm.numBtns" ng-click="vm.setValue(numBtn.value)">{{ numBtn.value }}</button>
    <button class="btn btn-warning col-md-4" ng-click="vm.equals()">=</button>
</div>